*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: none;
  outline: none;
}

*:focus,
*:active {
  border: none;
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

ul li {
  list-style: none;
}

html,
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1;
  font-size: 20px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*,
input,
button,
a {
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  font-family: inherit;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
